{{extend 'layout.html'}}
{{from spreadsheets_helper import spreadsheet_show_import_row}}

<p>Instructions: 
  Click <strong>Show</strong> link to see information contained
  in spreadsheet. Click <strong>Import</strong> link next to spreadsheet name 
  to import codes from one spreadsheet or click
	<a href="/vppmgr/spreadsheets/import_all">Import All</a> to update
	data from all spreadsheets.</p>
<form method="POST">
	<table>
	<tr><td>Show</td><td>Import</td><td width="30%">Spreadsheet</td><td>Order Number</td><td>Codes</td><td>Unused</td><td width="30%">Assigned App</td></tr>
{{for i, ss in enumerate(spreadsheets):}}
{{order_id = spreadsheets[i].id}}
{{app_name = 'Unknown'}}
{{app = spreadsheets[i].app}}
{{if app is not None:}}
{{app_name = app.name}}
{{pass}}
	<tr class="{{='odd' if i%2 else 'even'}}">
    <td><a href="{{=URL(f='show', args=[order_id])}}">Show</a></td>
    <td><a href="{{=URL(f='import_one', args=[order_id])}}">Import</a></td>
    <td>{{=spreadsheets[i].spreadsheet_name}}</td>
    <td>{{=spreadsheets[i].order_number}}</td>
    <td>{{=db(db.vpp_code.vpp_order==order_id).count()}}</td>
    <td>{{=db((db.vpp_code.vpp_order==order_id) & (db.vpp_code.status=='Unused')).count()}}</td>
    <td>{{=app_name}}</td>
	</tr>
{{pass}}
	</table>
	<input type="submit" name="submit" value="Submit" />
</form>
<p><a href="/vppmgr/spreadsheets/import_all">Import All</a></p>
