{{extend 'layout.html'}}
{{from order_helper import spreadsheet_import_link, spreadsheet_app_select}}

<style>
	.even { background-color: #FFC; }
</style>

<h1>Manage VPP Spreadsheets</h1>

<p>Instructions: Click link on spreadsheet name to import codes from 
	one spreadsheet, or click the <strong>Import All</strong> link to import
	from all.<br/>
	<a href="/vppmgr/spreadsheets/import_all">Import All</a></p>
<p>Assign an app registered in the database to each spreadsheet
	and click <strong>Submit</strong>, or click the <strong>Clear Apps</strong> link
	to reset all spreadsheets to the closest matching app name.<br/>
	<a href="/vppmgr/spreadsheets/clear_apps">Clear Apps<a/></p>
<form method="POST">
	<table>
	<tr><td style="text-align:right;">Spreadsheet Name</td><td>App Name</td></tr>
{{for i, ss in enumerate(spreadsheets):}}
	<tr class="{{='odd' if i%2 else 'even'}}">
		<td style="text-align:right;">{{=XML(spreadsheet_import_link(spreadsheets, i))}}</td>
		<td>{{=XML(spreadsheet_app_select(spreadsheets, i, apps))}}</td>
	</tr>
{{pass}}
	</table>
	<input type="submit" name="submit" value="Submit" />
</form>
<p><a href="/vppmgr/spreadsheets/import_all">Import All</a><br/>
	<a href="/vppmgr/spreadsheets/clear_apps">Clear Apps<a/></p>
