{{extend 'layout.html'}}

<p>Instructions: Click <strong>Show</strong> for information on 
  one of these apps, or click <a href="{{=URL('import_all')}}">Import All</a>
  to import all apps from the master Google Spreadsheet.</p>
<table>
  <tr><td>Show</td><td>Import</td><td>App Name</td><td>Price</td></tr>
{{for i, ss in enumerate(apps):}}
		<tr class="{{='odd' if i%2 else 'even'}}">
			<td><a href="{{=URL(f='show', args=[apps[i].id])}}">Show</td>
			<td><a href="{{=URL(f='import_one', args=[apps[i].id])}}">Import</td>
			<td>{{=apps[i].name}}</td>
			<td>${{=apps[i].price}}</td>
		</tr>
{{pass}}
</table>
<p><a href="{{=URL('import_all')}}">Import All</a></p>
