{{response.subtitle = 'Provision Apps'}}
{{extend 'layout.html'}}

<script language='javascript' src="{{=URL('static','js/jquery-ui-1.8.17.custom.min.js')}}"></script>
<script language='javascript' src="{{=URL('static','js/jquery.multiselect.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery-ui-1.8.17.custom.css')}}" />
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.multiselect.css')}}" />

{{if group is not None:}}
<h3>Provision Apps Filtered by Group '{{=group_name}}'</h3>
{{else:}}
<h3>Provision Apps</h3>
{{pass}}

<form class="sel_form" method="POST">
<div>Instructions: Enter the user for whom
  app codes and download links will be provisioned,
	then check off the apps to be provisioned.
</div>
<h5>Filter by Groups</h5>
<div>To show only the apps for a particular group, click the link with
the group name.
<ul>
{{for g in groups:}}
	<li><a href="{{=URL(f='provision', vars={'group': g.id})}}">{{=g.name}}</a></li>
{{pass}}
  <li><a href="{{=URL('provision')}}">List All</a></li>
</ul>
</div>
  <h5>User</h5>
  <div>Type user name or email address. Then press <strong>tab</strong> key 
    to pre-select devices for that user.<br />
    <div class="ui-widget">
      <input name="user_email" id="user_email" size="80" />
    </div>
  </div>
  <h5>Devices</h5>
  <div>Select devices to provision in left-hand list, then move them to 
    right-hand list by clicking <strong>Add</strong> button.  
    Undo by selecting them in right-hand list and clicking 
    <strong>Remove</strong> button.<br />
    <select class="multiselect" name="devices" id="devices" multiple="multiple">
{{for d in devices:}}
	    <option value="{{=d.id}}">{{=d.name}}</option>
{{pass}}
	  </select>
    <div style="clear: both;"></div>
  </div>
  <h5>Apps</h5>
  <div>Select apps to provision in left-hand list, then move them to 
    right-hand list by clicking <strong>Add</strong> button.<br />
    <select class="multiselect" name="apps" id="apps" multiple="multiple">
{{for app in apps:}}
      <option value="{{=app.id}}">{{=app.name}}</option>
{{pass}}
    </select>
    <div style="clear: both;"></div>
	</div>
	<div style="margin-top: 10px">
	  <input type="submit" name="submit" value="Submit" />
	</div>
</form>

<!-- autocomplete data -->
{{user_list = ["\"%s\"" % (user.email) for user in users ]}}
{{device_callback = URL('devices', 'by_user.json')}}
{{=SCRIPT('var user_list = [' + ",".join(user_list) + '];', _language='javascript')}}

<!-- activate multiselect script and autocomplete widget -->
<script language="javascript" type="text/javascript">
$(function() {
  $("#devices").multiselect();
  $("#apps").multiselect();
  $("#user_email").autocomplete({
    source: user_list,
    change: function () {
      var user = $(this).val();
      $.ajax({
        url: '{{=device_callback}}?user=' + user,
        dataType: 'json',
        success: function(data) {
          $("#devices option").removeAttr("selected");
          $.each(data['devices'], function(i, id) {
            $("#devices option[value='" + id + "']").attr("selected", "selected");
          });
          $("#devices").multiselect("refresh");
        }
      });
    }
  });
});
</script>
