{{response.subtitle = 'Provision Apps'}}
{{extend 'layout.html'}}

<script language='javascript' src="{{=URL('static','js/jquery-ui-1.8.17.custom.min.js')}}"></script>
<script language='javascript' src="{{=URL('static','js/jquery.twosidedmultiselect.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery-ui-1.8.17.custom.css')}}" />

<!-- styles for twosidedmultiselect -->
<style>
.tsmsselect {
  width: 40%;
  float: left;
}
.tsmsselect select {
  width: 100%;
}
.tsmsoptions {
  width: 20%;
  float: left;
}
.tsmsoptions p {
  border: 1px solid #ccc;
  margin: 4px 10px 4px 10px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.tsmsoptions p:hover {
  color: White;
  background-color: Silver;
}
</style>
{{if group is not None:}}
<h3>Provision Apps Filtered by Group '{{=group_name}}'</h3>
{{else:}}
<h3>Provision Apps</h3>
{{pass}}

<form class="sel_form" method="POST">
<div>Instructions: Enter the user for whom
  app codes and download links will be provisioned,
	then check off the apps to be provisioned.
</div>
<h5>Filter by Groups</h5>
<div>To show only the apps for a particular group, click the link with
the group name.
<ul>
{{for g in groups:}}
	<li><a href="{{=URL(f='provision', vars={'group': g.id})}}">{{=g.name}}</a></li>
{{pass}}
  <li><a href="{{=URL('provision')}}">List All</a></li>
</ul>
</div>
  <h5>User</h5>
  <div>Type user name or email address.<br />
    <div class="ui-widget">
      <input name="user_email" id="user_email" size="80" />
    </div>
  </div>
  <h5>Devices</h5>
  <div>Select devices to provision in left-hand list, then move them to right-hand list by clicking Add button.  
    Undo by selecting them in right-hand list and clicking Remove button.<br />
    <select class="multiselect" name="devices" id="devices" multiple="multiple" size="12">
{{for d in devices:}}
	    <option value="{{=d.id}}">{{=d.name}}</option>
{{pass}}
	  </select>
    <div style="clear: both;"></div>
  </div>
  <h5>Apps</h5>
  <div>Select apps to provision in left-hand list, then move them to right-hand list by clicking Add button.<br />
    <select class="multiselect" name="apps" id="apps" multiple="multiple" size="12">
{{for app in apps:}}
      <option value="{{=app.id}}">{{=app.name}}</option>
{{pass}}
    </select>
    <div style="clear: both;"></div>
	</div>
</form>

<!-- autocomplete data -->
{{user_list = ["\"%s\"" % (user.email) for user in users ]}}
{{=SCRIPT('var user_list = [' + ",".join(user_list) + '];', _language='javascript')}}

<!-- activate multiselect script and autocomplete widget -->
<script language="javascript" type="text/javascript">
  $(function() {
    $(".multiselect").twosidedmultiselect();
    $("#user_email").autocomplete({source: user_list});
    $("#user_email").onblur(function () {
      var user = $(this).val();
      $.ajax({
        url='http://127.0.0.1:8000/vppmgr/devices/by_user.json?user=' + user,
        dataType='json',
        success: function(data) {
          var device_names = data['devices'];
        }
      });
    });
  });
</script>
