{{extend 'layout.html'}}

<h4>Apple VPP Code Manager - Primary Functions</h4>
<p>Tip: If you have changed the master spreadsheet of apps or
  have not assigned apps from the master spreadsheet, click the
  <strong>Assign apps to spreadsheets</strong> link before doing 
  anything else.</p>
<ol>
	<li><a href="{{=URL(c='apps', f='index')}}">Show list of apps in system</a></li>
	<li><a href="{{=URL(c='spreadsheets', f='index')}}">Show list of spreadsheets in system</a></li>
	<li><a href="{{=URL(c='spreadsheets', f='assign_apps')}}">Assign apps to spreadsheets</a></li>
	<li><a href="{{=URL(c='apps', f='provision')}}">Provision a selection of apps by invitation</a></li>
	<li><a href="{{=URL(c='invitations', f='index')}}">Show list of invitations</a></li>
	<li><a href="{{=URL(c='appadmin', f='index')}}">Database administration</a></li>
</ol>