{{extend 'layout.html'}}

<p>Instructions: Enter users to provide app vpp codes and free app links to,
	then check off the apps to be provisioned; 
	or click the <strong>Import All</strong> link to import
	all app information from the master Google Spreadsheet.<br/>
	<a href="/vppmgr/products/import_all">Import All</a></p>
<form method="POST">
	<table>
		<tr><td>Users - Type usernames or email addresses, separated by commas</td></tr>
		<tr>
			<td><textarea name="users" rows="3" cols="80"></textarea></td>
		</tr>
		<tr><td>Apps - Check box next to app names</td></tr>
{{for i, ss in enumerate(apps):}}
		<tr class="{{='odd' if i%2 else 'even'}}">
			<td><input type="checkbox" name="{{='app_%d' % apps[i].id}}" />&nbsp;{{=apps[i].name}}, {{=apps[i].price}}</td>
		</tr>
{{pass}}
	</table>
	<input type="submit" name="submit" value="Submit" />
</form>
<p><a href="/vppmgr/products/import_all">Import All</a></p>
